<!DOCTYPE html>
<html>
          <%-include ../../partials/_head.ejs%>
  <body>
    <header>
      <h1>Create an Event</h1>
      <%-include ../../partials/_navbar.ejs%>
      <%if(message){%>
        <script>
          alert('<%=message%>');
        </script>
      <%}%>       
    </header>
    <main>
        <form action="/events/" method="post">
            Enter Event Name:
                <input type="text" name="name" placeholder="Name of your event"/><br/>
            Enter Date:
                <input type="date" name="date" placeholder="MM/DD/YYYY"/><br/>
            Enter Time:
                <input type="text" name="time" placeholder="Time players should arrive"/><br/>
            Enter Game:
                <input type="text" name="gameToBePlayed" placeholder="Name of game/sport/activity being played at event"/><br/>
            <input type="number" name="maxNumberOfPlayers" placeholder="Maximum # of players required"/><br/>
            <input type="number" name="minNumberOfPlayers" placeholder="Minimum # of players required"/><br/>
            <input type="number" name="availableSpots" placeholder="# of players spots available"/><br/>
            <input type="text" name="location" placeholder="Event location"/><br/>
            <textarea name="description" placeholder="Event description"></textarea><br/>
            <input type="text" name="type" placeholder="Event type (e.g. cards, boardgame, indoor sport...)"/><br/>
            <input type="text" placeholder="Image URL"name="image"/><br/>
            <input type="submit" value="Create Event"/>
        </form>
    </main>
    <%-include ../../partials/_footer.ejs%>
  </body>
</html>
