<footer class="navbar-fixed-bottom">
    <ul>
    <li class="btn host-btn"><a href="/events/new">Host Game</a></li>
    <li class="btn find-events-btn"><a href="/events/">Find Available Events</a></li>
    </ul>
</footer>