<footer class="row justify-content-center navbar-footer fixed-bottom">
    <ul class="navbar-right btn-group-lg">
    <li class="btn"><a href="/events/new">Host Game</a></li>
    <li class="btn"><a href="/events/">Find Available Events</a></li>
    </ul>  
</footer>
