<head>
    <meta charset="utf-8">
    <title>DTP Page: PlaceHolder</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
       <style>
    *{border: 1px solid rgba(0,0,0,.1)}
    </style>
  </head>