<form id="login-box" action="/events/" method="POST">
      <h2>DTP User Login</h2>
      <input type="email" name="email" placeholder="enter your email"/>
      <input type="password" name="password" placeholder="enter your pw"/>
      <input type="submit" value="login">
</form> 
