    <header>
    <div id="icon" style="height: 100px; width: 100px; background-color: orange"><a href="/">GO HOME</a></div>
    <h2><a href="/users/new">Register</a></h2>
    <%- include ./_loginbox.ejs%>
  </header>
