     <div id="icon" style="height: 100px; width: 100px; background-color: orange"><a href="/">GO HOME</a></div>
    <h2><a href="/users/new">Register</a></h2>
    <h2 class="login-lin"><a href="/users/login">Login</a></h2>
 