<header class="navbar">
        <a href="/"><img class= "navbar-header" id="icon" src='/public/images/logoforDTP-transbg-sm.png' alt="DTP Logo"></a>
        <ul class="navbar-right btn-group-lg">
        <%if(currentUserName){%>
            <li class="btn nav-btn"><a href="/users/<%=currentUser%>"><%=currentUserName%>'s Profile</a></li>
            <li class="btn nav-btn"><a href="/users/logout">Logout</a></li>
        <%}else{%>
             <li class="btn nav-btn"><a href="/users/login">Login</a></li>
        <%}%>
        </li>  
        </ul>
</header>
