        <h2><a href="/users/new"> Register New User </a></h2>
        <h2>
        <%if(currentUserName){%>
            <a href="/users/<%=currentUser%>"><%=currentUserName%></a>
            <a href="/users/logout">Logout</a>
        <%}else{%>
             <a href="/users/login">Login</a>
        <%}%></h2>
        
    <h2><a href="/users/"> Users Index </a></h2>
    <h2><a href="/events/">Event's Index </a></h2>
    <div id="icon" style="height: 100px; width: 100px; background-color: orange"><a href="/">GO HOME</a></div>
  
