*{
    color: rgb(33, 10, 56);
    /* border: 1px solid black; */
}
html,body{ 
    background-color: rgba(0, 0, 0, 0.3); 
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgba(129, 41, 217, 0.452); 
    height: 9vh; 
}
main{
    /* justify-content: center;  */
    background-color: white;
    height: 90vh;
}
footer{
    height: 10vh;
    padding-top: .7rem;
    background-color: rgba(110, 69, 151, 0.75);
    width: 105%;
}
h1{
    /* font-family: 'Roboto', sans-serif; */
    font-size: calc(3rem + 2vw);
    padding-top: 1rem;
    padding-left: 5rem;
}
a{
    color: rgb(74, 3, 146);
}

a:link{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
section>h1{
    /* font-family: 'Roboto', sans-serif; */
    font-size: calc(3rem + 2vw);
    line-height: calc(6rem + 2vw);
}

#login-box{
    padding: 0;
    padding-top: 3rem;
    vertical-align: middle;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(163, 108, 217, 0.425)
}
#login-box>input{
    margin: 3rem;
}

#icon{
    height: 2.5rem;
    width: 4rem;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 50%;
    box-shadow: 0 2.8rem 5px rgba(58, 42, 73, 0.507);
    /* text-align: center; */
    overflow: show;
    margin: 1rem 0;
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
}

.dtp-logo{
    position: relative;
    top: -50%;
    left: -5%;
    width: 113%;
    height: auto;
    /* z-index: 1; */
}

div>input{
    height: 5rem;
    padding: 1rem;
    min-width: 80%;
    margin: 1rem 0rem;
    font-size: 1.3rem; 
}

#login-box>h2{
    line-height: 18vh;
    font-size: 2rem; 
    text-align: center;   
}

#registration-form{
    padding: 3rem;
    margin: 1rem 0;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 5px rgba(163, 108, 217, 0.425); 
}

.btn{
    color: hsla(270, 68%, 22%, 0.70);
    border: 1px solid rgba(129, 41, 217, 1);
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
}

.nav-btn{
    /* position: absolute;
    top: 5%; */
    margin: -10px 0 0 0;
    background-color: rgba(179, 134, 173, 0.589); 
}

.wrapper{
    min-width: 40vw;
    max-width: 50vw;    
}

.page-title{
    text-align: center;
}
.carousel-caption{
    top: 0;
}
.carousel-text{
    color: rgba(188, 177, 194, 0.918);
    font-size: calc(12pt + 2vw);
    /* background-color: rgba(255, 255, 255, 0.105); */
    -webkit-text-stroke: rgba(0, 0, 0, 0.376);
    -webkit-text-stroke-width: 2px;
}
.carousel-inner{
    height: 75vh;
    align-content: center;
    vertical-align: middle;
}
.card-row{
    width: 100%;
}

.card-container{
    height: 20vh;
    /* justify-content: center; */
}

.card-color-top{
    height: 10vh;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.card {
    width: 16vw;
    height: 42vh;
    border-radius: 4px;
    margin-right: 1vw;
    margin-bottom: 1vw;
    box-shadow:  rgba(163, 108, 217, 0.425) 2px 2px 3px;
    /* overflow: scroll; */
}

.card-title{
    font-size: calc(6pt + 1vw);
}

.card-text{
    font-size: calc(6pt + .5vw);
}

.card-title-container {
    width: 100%;
    max-height: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.card-text-container {
    width: 100%;
    max-height: 40%;
    margin-bottom: 2vh;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card:hover{
    box-shadow:  rgba(163, 108, 217, 0.425) 3px 3px 3px;
}

.card-body{
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-player-info{
    text-align: start;
}

.event-info{
    font-size: medium;
}

.user-card {
    width: inherit;
    height: 50vh;
    border-radius: 4px;
    border: 0px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    /* box-shadow:  rgb(128, 231, 242) 2px 2px 3px; */
    /* overflow: scroll; */
 }

 .btn-sm{
    height: 4vh;
    margin: 0 5px 0 0;
 }

 .item-card {
    width: inherit;
    border-radius: 4px;
    padding: .3rem;
    /* border: 1px solid rgba(0, 0, 0, 0.573); */
    text-align: center;
    box-shadow:  0 0  3px rgba(30, 32, 32, 0.6);
    /* overflow: scroll; */
 }
 .input-sm{
    height: 3rem;
    width: 90%;
 }

.card-btn{
    align-content: flex-end;
    /* margin-bottom: 1vh; */
    font-size: calc(6pt + 0.5vw);
}

/* Color Theme Swatches in Hex */
.Vector-Lovers-1-hex { background-color: rgba(191, 38, 51, 0.598); }
.Vector-Lovers-2-hex { background-color: rgba(242, 53, 69, 0.598); }
.Vector-Lovers-3-hex { background-color: rgba(161, 216, 78, 0.598); }
.Vector-Lovers-4-hex { background-color: rgba(242, 212, 60, 0.598); }
.Vector-Lovers-5-hex { background-color: rgba(242, 138, 48, 0.598); }

/* Color Theme Swatches in RGBA */
.Vector-Lovers-1-rgba { color: rgba(191, 38, 51, 1); }
.Vector-Lovers-2-rgba { color: rgba(242, 53, 69, 1); }
.Vector-Lovers-3-rgba { color: rgba(161, 216, 78, 1); }
.Vector-Lovers-4-rgba { color: rgba(242, 211, 60, 1); }
.Vector-Lovers-5-rgba { color: rgba(242, 138, 48, 1); }

/* Color Theme Swatches in HSLA */
.Vector-Lovers-1-hsla { color: hsla(354, 66, 44, 1); }
.Vector-Lovers-2-hsla { color: hsla(354, 87, 57, 1); }
.Vector-Lovers-3-hsla { color: hsla(83, 63, 57, 1); }
.Vector-Lovers-4-hsla { color: hsla(49, 87, 59, 1); }
.Vector-Lovers-5-hsla { color: hsla(27, 88, 56, 1); }