
*{
    color: rgba(33, 10, 56);
}
html,body{ 
    background-color: rgba(0, 0, 0, 0.3); 
    height: 100%;
    font-family: 'Proza Libre', sans-serif;
}
header{
    background-color: rgba(128, 231, 242, 0.70); 
    height: 10vh; 
}
main{
    background-color:rgba(255, 255, 255, 0.876);
    height: 100%;
}
footer{
    position: fixed;
    bottom: 0;
    background-color:  rgba(128, 231, 242, 0.70); 
    width: 100%;
    height: 10vh;
    padding: 15px;
}
a{
    color: rgb(74, 3, 146);
}

a:link{
    text-decoration:none;
}

a:active{
    text-decoration:none;
}

section>h1{
    margin:2rem 0rem;
}

h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: calc(3rem + 2vw);
}

#login-box{
    height: 60vh;
    padding: 3rem;
    margin: 3rem 0;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.6);
}

#login-box>input{
    margin: 4rem;
}

#login-box>h2{
    line-height: 18vh;
    font-size: 2rem; 
    text-align: center;  
    height: 60vh; 
}
#registration-form{
    height: 60vh;
    padding: 3rem;
    margin: 3rem 0;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.6);
}

.register-text{
    height: 7vw;
    min-width: 20rem;
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    text-align: left;
}

.register-submit{
    height: 3rem;
    min-width: 5vw;
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.page-title{
    text-align: center;
}
.carousel-caption{
    top: 0;
}
.carousel-text{
    color: #7DD952;
    font-size: calc(12pt + 3vw);
    background-color: rgba(255, 255, 255, 0.105);
    -webkit-text-stroke: rgba(0, 0, 0, 0.173);
    -webkit-text-stroke-width: 1px;
}
.carousel-inner{
    height: 75vh;
    align-content: center;
    vertical-align: middle;
}
/* .login-btn, .logout-btn{
    text-decoration: none;
    background-color: #F2BE22;
}

.register-btn{
}

.profile-btn{
}

.host-btn{
    background-color: #7DD952;
}

.find-events-btn{
    background-color: #80E7F2;
} */
.card-container{
    height: 100vh;
    /* justify-content: center; */
}

.card-color-top{
    height: 20vh;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.card {
    width: 16vw;
    height: 40vh;
    border-radius: 4px;
    margin-right: 1vw;
    margin-bottom: 1vw;
    box-shadow:  rgb(128, 231, 242) 2px 2px 3px;
}

.card:hover{
    box-shadow:  rgb(125, 217, 82) 3px 3px 3px;
}

/* Color Theme Swatches in Hex */
.Calm-and-Happy-1-hex { background-color: rgb(129, 41, 217); }
.Calm-and-Happy-2-hex { background-color: rgb(163, 108, 217); }
.Calm-and-Happy-3-hex { background-color: rgb(128, 231, 242); }
.Calm-and-Happy-4-hex { background-color: rgb(125, 217, 82); }
.Calm-and-Happy-5-hex { background-color: #F2BE22; }

/* Color Theme Swatches in RGBA */
.Calm-and-Happy-1-rgba { color: rgba(129, 41, 217, 1); }
.Calm-and-Happy-2-rgba { color: rgba(163, 108, 217, 1); }
.Calm-and-Happy-3-rgba { color: rgba(128, 231, 242, 1); }
.Calm-and-Happy-4-rgba { color: rgba(125, 217, 82, 1); }
.Calm-and-Happy-5-rgba { color: rgba(242, 190, 34, 1); }

/* Color Theme Swatches in HSLA */
.Calm-and-Happy-1-hsla { color: hsla(270, 69, 50, 1); }
.Calm-and-Happy-2-hsla { color: hsla(270, 58, 63, 1); }
.Calm-and-Happy-3-hsla { color: hsla(185, 81, 72, 1); }
.Calm-and-Happy-4-hsla { color: hsla(100, 63, 58, 1); }
.Calm-and-Happy-5-hsla { color: hsla(45, 88, 54, 1); }
/* Color Theme Swatches in Hex */
.Pastels-1-hex { background-color: #89828C; } /*Slate Blue*/
.Pastels-2-hex { background-color: #E7E7E5; } /*Pale Robins Egg Blue*/
.Pastels-3-hex { background-color: #BDB9B1; } /*Ash Green*/
.Pastels-4-hex { background-color: #C6E6DE; } /*Sage*/
.Pastels-5-hex { background-color: #CFB4AE; } /*Olive Drab*/
/* Color Theme Swatches in RGBA */
.Pastels-1-rgba { color: rgba(137, 130, 140, 1); }
.Pastels-2-rgba { color: rgba(231, 231, 229, 1); }
.Pastels-3-rgba { color: rgba(189, 185, 177, 1); }
.Pastels-4-rgba { color: rgba(198, 230, 222, 1); }
.Pastels-5-rgba { color: rgba(207, 180, 174, 1); }
/* Color Theme Swatches in HSLA */
.Pastels-1-hsla { color: hsla(281, 4, 52, 1); }
.Pastels-2-hsla { color: hsla(60, 3, 90, 1); }
.Pastels-3-hsla { color: hsla(39, 8, 71, 1); }
.Pastels-4-hsla { color: hsla(165, 39, 83, 1); }
.Pastels-5-hsla { color: hsla(10, 25, 74, 1); }

/* Color Theme Swatches in Hex */
.Calm-and-Happy-1-hex { color: #8129D9; }
.Calm-and-Happy-2-hex { color: #A36CD9; }
.Calm-and-Happy-3-hex { color: #80E7F2; }
.Calm-and-Happy-4-hex { color: #7DD952; }
.Calm-and-Happy-5-hex { color: #F2BE22; }

/* Color Theme Swatches in RGBA */
.Calm-and-Happy-1-rgba { color: rgba(129, 41, 217, 1); }
.Calm-and-Happy-2-rgba { color: rgba(163, 108, 217, 1); }
.Calm-and-Happy-3-rgba { color: rgba(128, 231, 242, 1); }
.Calm-and-Happy-4-rgba { color: rgba(125, 217, 82, 1); }
.Calm-and-Happy-5-rgba { color: rgba(242, 190, 34, 1); }

/* Color Theme Swatches in HSLA */
.Calm-and-Happy-1-hsla { color: hsla(270, 69, 50, 1); }
.Calm-and-Happy-2-hsla { color: hsla(270, 58, 63, 1); }
.Calm-and-Happy-3-hsla { color: hsla(185, 81, 72, 1); }
.Calm-and-Happy-4-hsla { color: hsla(100, 63, 58, 1); }
.Calm-and-Happy-5-hsla { color: hsla(45, 88, 54, 1); }