<!DOCTYPE html>
<html>
    <%- include ../../partials/_head.ejs%>
    <body>
        <header>
            <%- include ../../partials/_navbar.ejs%>
            <h1>Home Page</h1> 
        </header>
        <main>
            <h3>This is the body of the main page</h3>
        </main>
        <%- include ../../partials/_footer.ejs%>  
    </body>
  
  
</html>

