<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Make New User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Register New User</h1>
      <form action="/users/" method="POST">
        <input value="" placeholder="Name" type="text" name='name'>
        <input value="" placeholder="Email Address" type="email" name='email'>
        <input value="" placeholder="Password" type="password" name='password'>
        <input type="submit" value="Register">
      </form>
    </body>
</html>